<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no" name="viewport"/>
    <meta content="PPType" name="author"/>
    <meta content="#ffffff" name="theme-color"/>
    <title>Dropwizard authentication</title>
    <link href="/static/css/semantic.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/modal.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/popup.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/semantic.js"></script>
    <script src="/static/js/modal.js"></script>
    <script src="/static/js/popup.js"></script>
</head>